body{
    background-image: url("broad.png");
    background-repeat:repeat;
    background-size: 30px;
    background-color: black;
}
h1{
    border-style: groove;
    border-width: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white
}
pre{
    color:blue
}
#p1{
    color:violet
}